@font-face {
    font-family: 'CoreCircusPierrot2';
    src: url('../fonts/2DA5DD_0_0.eot');
    src: url('../fonts/2DA5DD_0_0.eot?#iefix') format('embedded-opentype'),
         url('../fonts/2DA5DD_0_0.woff2') format('woff2'),
         url('../fonts/2DA5DD_0_0.woff') format('woff'),
         url('../fonts/2DA5DD_0_0.ttf') format('truetype');
}

@font-face {
    font-family: 'Courgette';
    src: url('../fonts/Courgette-Regular-webfont.eot');
    src: url('../fonts/Courgette-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Courgette-Regular-webfont.woff2') format('woff2'),
         url('../fonts/Courgette-Regular-webfont.woff') format('woff'),
         url('../fonts/Courgette-Regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face{
   font-family: 'DaggerSquare';
   src: url('../fonts/DAGGERSQUARE.otf');
}

@font-face{
   font-family: 'DaggerSquareOblique';
   src: url('../fonts/DAGGERSQUARE OBLIQUE.otf');
}

@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald-Regular-webfont.eot');
    src: url('../fonts/Oswald-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Oswald-Regular-webfont.woff2') format('woff2'),
         url('../fonts/Oswald-Regular-webfont.woff') format('woff'),
         url('../fonts/Oswald-Regular-webfont.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald-Bold-webfont.eot');
    src: url('../fonts/Oswald-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Oswald-Bold-webfont.woff2') format('woff2'),
         url('../fonts/Oswald-Bold-webfont.woff') format('woff'),
         url('../fonts/Oswald-Bold-webfont.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Quantico';
    src: url('../fonts/Quantico-Bold-webfont.eot');
    src: url('../fonts/Quantico-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Quantico-Bold-webfont.woff2') format('woff2'),
         url('../fonts/Quantico-Bold-webfont.woff') format('woff'),
         url('../fonts/Quantico-Bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html,body{
    height: 100%;
    width: 100%;
}

body{
   background: url('../img/bg_section1.gif');
}

h1 {
  font-size: 32px;
  font-weight: 300;
  color: #d8583a;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 10px;
}

h3{
   font-family: 'DaggerSquare';
   font-size: 30px;
   color: #d8583a;
}

p.email{
   font-family: 'Oswald';
   font-size: 24px;
   color: #d8583a;
}

p.number{
   font-family: 'DaggerSquare';
   font-size: 21px;
   color: #d8583a;
}

button {
    display: block;
    width: 120px;
    height: 120px;
    margin-top: 5px;
    border: none;
    background: #fad5a1;
    color: #d8583a;
    font-family: 'Oswald', 'Arial', 'Helvetica', 'sans-serif';
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

button:hover {
   background: #d8583a; color: #fff
}
button:hover:before{
   color: #d8583a
}

button.about {
   /*position: fixed;*/
   left: 0;
   bottom: 0;
   /*z-index: 2;*/
   -webkit-transition: all 0.25s ease;
   transition: all 0.25s ease
}

button.contact {
   /*position: fixed;*/
   /*float: right;*/
   /*right: 0;*/
   bottom: 0;
   /*z-index: 2;*/
   -webkit-transition: all 0.25s ease;
   transition: all 0.25s ease;
   text-align: center;
}

.modal-body{
   background: url('../img/bg_section3.gif');
}
.contact-info{
   font-size: 25px;
   font-family: Courgette;
   color: #d8583a;
   text-align: center;
}
.right {
    position: absolute;
    right: 0px;
    width: 400px;
}

.button {
   display: inline-block;
   width: 100px;
   height: 50px;
   border: none;
   background: #fad5a1;
   color: #aa690e;
   font-family: 'Oswald', 'Arial', 'Helvetica', 'sans-serif';
   font-size: 18px;
   font-weight: 700;
   text-align: center;
   text-transform: uppercase;
   -webkit-transition: all 0.25s ease;
   transition: all 0.25s ease;
   cursor: pointer;
}

.button.big {
   width: auto;
   height: auto;
   padding: 15px 20px;
   font-size: 20px;
}
.button.big:before {
   position: relative;
   top: 15px;
   left: -12px;
   font-size: 30px;
   line-height: 0
}

.button.secondary {
   background: #d8583a;
}

.button.big:hover{
   text-decoration: none;
   color: #b7442a;
   /*background-color: #d8583a;*/
}

.text{
   font-size: 40px;
   font-family: 'Oswald';
   color: #fff;
   text-align: center !important;
}

span.stext{
   font-size: 50px;
   color: #912006;
   font-family: 'Quantico'
}

span{
   font-size: 15px;
}

.mascot{
   text-align: center;
}

.flip-clock-wrapper{
   text-align: center;
}

/*COUNTDOWN TIMER*/
.counter {
	margin-top: 10px;
	text-shadow: 0 1px 5px #fff;
}
.counter .days-wrapper, .counter .hours-wrapper, .counter .minutes-wrapper, .counter .seconds-wrapper {
	display: inline-block;
	width: 130px;
	height: 130px;
	margin: 0 10px;
	padding-top: 20px;
	background: #d8583a;
   font-size: 15px;
	-moz-border-radius: 80px;
	-webkit-border-radius: 80px;
	border-radius: 80px;
}
.counter .days, .counter .hours, .counter .minutes, .counter .seconds {
	font-size: 60px;
	line-height: 70px;
}

/***** Media Queries *****/

@media (min-width: 1200px){
   .text{
      padding-top: 50px;
      padding-right: 100px;
   }
   .mascot{
      /*padding-top: 50px;*/
      /*padding-left: 120px;*/
   }
   footer#footer{
      /*position: absolute;*/
      margin-top: 7%;
      width: 100%;
      text-align: center;
      color: #d8583a;
      /*background-color: #eda949;*/
      background-color: #fad5a1;
      bottom: 0;
   }
   div.heading{
      font-family: 'CoreCircusPierrot2';
      font-size: 80px;
      color: #d8583a;
      letter-spacing: -16px;
   }
   .font{
      font-family: 'DaggerSquare';
      color: #ff7400;
      text-align: center;
      font-size: 40px;
   }
   .mascot-logo{
      height: 600px;
   }
   h3{
      font-family: 'DaggerSquare';
      font-size: 30px;
      color: #d8583a;
   }
   /*.main{
      margin-top:30px;
   }*/
}

@media (min-width: 979px) and (max-width: 1200px){
   .text{
      padding-top: 50px;
      padding-right: 100px;
   }
   .mascot{
      /*padding-top: 50px;*/
      /*padding-left: 120px;*/
   }
   footer#footer{
      position: absolute;
      width: 100%;
      text-align: center;
      color: #d8583a;
      /*background-color: #eda949;*/
      background-color: #fad5a1;

   }
   .counter{
      margin-bottom: 10px;
   }
   div.heading{
      font-family: 'CoreCircusPierrot2';
      font-size: 75px;
      color: #d8583a;
      letter-spacing: -16px;
   }
   .font{
      font-family: 'DaggerSquare';
      color: #ff7400;
      text-align: center;
      font-size: 35px;
   }
   .mascot-logo{
      height: 600px;
   }
   h3{
      font-family: 'DaggerSquare';
      font-size: 27px;
      color: #d8583a;
   }
}

@media (min-width: 768px) and (max-width: 979px) {

   footer#footer{
      text-align: center;
      color: #d8583a;
      /*background-color: #eda949;*/
      background-color: #fad5a1;
      bottom: 0;
      margin-top: 10px;
   }
   div.heading{
      font-family: 'CoreCircusPierrot2';
      font-size: 65px;
      color: #d8583a;
      letter-spacing: -10px;
   }
   .font{
      font-family: 'DaggerSquare';
      color: #ff7400;
      text-align: center;
      font-size: 30px;
   }

   .counter .days-wrapper, .counter .hours-wrapper, .counter .minutes-wrapper, .counter .seconds-wrapper {
   	width: 120px;
   	height: 120px;
   	margin: 0 7px;
   	padding-top: 20px;
   	-moz-border-radius: 70px;
   	-webkit-border-radius: 70px;
   	border-radius: 70px;
   }
   .counter .days, .counter .hours, .counter .minutes, .counter .seconds {
   	font-size: 50px;
   	line-height: 60px;
   }
   .mascot-logo{
      height: 550px;
   }
   h3{
      font-family: 'DaggerSquare';
      font-size: 25px;
      color: #d8583a;
   }
}

@media (min-width: 480px) and (max-width: 767px) {
   body {
   	padding-left: 0;
   	padding-right: 0;
   }
   footer#footer{
      text-align: center;
      color: #d8583a;
      /*background-color: #eda949;*/
      background-color: #fad5a1;
      bottom: 0;
   }
   div.heading{
      font-family: 'CoreCircusPierrot2';
      font-size: 60px;
      color: #d8583a;
      letter-spacing: -10px;
   }
   .font{
      font-family: 'DaggerSquare';
      color: #ff7400;
      text-align: center;
      font-size: 30px;
   }
   .counter .days-wrapper, .counter .hours-wrapper, .counter .minutes-wrapper, .counter .seconds-wrapper {
   	width: 100px;
   	height: 100px;
   	margin: 7px;
   	padding-top: 15px;
   	-moz-border-radius: 70px;
   	-webkit-border-radius: 70px;
   	border-radius: 70px;
   }
   .counter .days, .counter .hours, .counter .minutes, .counter .seconds {
   	font-size: 40px;
   	line-height: 50px;
   }
   .mascot-logo{
      height: 500px;
   }
   h3{
      font-family: 'DaggerSquare';
      font-size: 25px;
      color: #d8583a;
   }
   .button.big {
      width: auto;
      height: auto;
      padding: 14px 18px;
      font-size: 20px;
   }
}

@media (max-width: 480px) {
   footer#footer{
      text-align: center;
      color: #d8583a;
      background-color: #fad5a1;
      margin-top: 20px;
   }
   div.heading{
      font-family: 'CoreCircusPierrot2';
      font-size: 42px;
      color: #d8583a;
      letter-spacing: -8px;
   }
   .font{
      font-family: 'DaggerSquare';
      color: #ff7400;
      text-align: center;
      font-size: 23px;
   }
   .counter .days-wrapper, .counter .hours-wrapper, .counter .minutes-wrapper, .counter .seconds-wrapper {
   	width: 80px;
   	height: 80px;
   	margin: 7px;
   	padding-top: 10px;
   	-moz-border-radius: 70px;
   	-webkit-border-radius: 70px;
   	border-radius: 70px;
   }
   .counter .days, .counter .hours, .counter .minutes, .counter .seconds {
   	font-size: 30px;
   	line-height: 40px;
   }
   .mascot-logo{
      height: 400px !important;
   }
   h3{
      font-family: 'DaggerSquare';
      font-size: 23px;
      color: #d8583a;
   }
   .button.big {
      width: auto;
      height: auto;
      padding: 10px 15px;
      font-size: 17px;
   }
}

/*footer#footer{
   text-align: center;
   color: #d8583a;
   background-color: #fad5a1;

}*/
