@font-face {
    font-family: 'CoreCircusPierrot2';
    src: url('../fonts/2DA5DD_0_0.eot');
    src: url('../fonts/2DA5DD_0_0.eot?#iefix') format('embedded-opentype'),
         url('../fonts/2DA5DD_0_0.woff2') format('woff2'),
         url('../fonts/2DA5DD_0_0.woff') format('woff'),
         url('../fonts/2DA5DD_0_0.ttf') format('truetype');
}

@font-face {
    font-family: 'Courgette';
    src: url('../fonts/Courgette-Regular-webfont.eot');
    src: url('../fonts/Courgette-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Courgette-Regular-webfont.woff2') format('woff2'),
         url('../fonts/Courgette-Regular-webfont.woff') format('woff'),
         url('../fonts/Courgette-Regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald-Regular-webfont.eot');
    src: url('../fonts/Oswald-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Oswald-Regular-webfont.woff2') format('woff2'),
         url('../fonts/Oswald-Regular-webfont.woff') format('woff'),
         url('../fonts/Oswald-Regular-webfont.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald-Bold-webfont.eot');
    src: url('../fonts/Oswald-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Oswald-Bold-webfont.woff2') format('woff2'),
         url('../fonts/Oswald-Bold-webfont.woff') format('woff'),
         url('../fonts/Oswald-Bold-webfont.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Quantico';
    src: url('../fonts/Quantico-Bold-webfont.eot');
    src: url('../fonts/Quantico-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Quantico-Bold-webfont.woff2') format('woff2'),
         url('../fonts/Quantico-Bold-webfont.woff') format('woff'),
         url('../fonts/Quantico-Bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
   /*background-color: #ffc470;*/
   /*background-color: #fff;*/
   background: url('../img/bg_section1.gif');
}
.logo-despo {
   position: fixed;
   left: 20px;
   z-index: 10;
   top: 20px;
}
.logo-college{
   position: fixed;
   right: 20px;
   z-index: 10;
   top: 20px;
   cursor: pointer;
}
h1{
   font-family: 'CoreCircusPierrot2';
   font-size: 85px;
   color: #d8583a;
   letter-spacing: -13px;
}

h3{
   font-family: 'CoreCircusPierrot2';
   font-size: 28px;
   color: #d8583a;
}

p.email{
   font-family: 'Oswald';
   font-size: 24px;
   color: #d8583a;
}

p.number{
   font-family: 'Quantico';
   font-size: 21px;
   color: #d8583a;
}

button {
    display: block;
    width: 150px;
    height: 150px;
    margin-top: 5px;
    border: none;
    background: #fad5a1;
    color: #d8583a;
    font-family: 'Oswald', 'Arial', 'Helvetica', 'sans-serif';
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

button:hover {background: #d8583a; color: #fff}
button:hover:before{color: #d8583a}

button.about {position: fixed; right: 0; bottom: 0; z-index: 2; -webkit-transition: all 0.25s ease; transition: all 0.25s ease}

button.contact {position: fixed; right: 0; bottom: 0; z-index: 2; -webkit-transition: all 0.25s ease; transition: all 0.25s ease}

.modal-body{
   background: url('../img/bg_section3.gif');
}
.contact-info{
   font-size: 25px;
   font-family: Courgette;
   color: #d8583a;
}
.right {
    position: absolute;
    right: 0px;
    width: 400px;
}

hr.style14 {
  border: 0;
  height: 3px;
  background-image: -webkit-linear-gradient(left, #ffa58f, #d8583a, #ffa58f);
  background-image: -moz-linear-gradient(left, #ffa58f, #d8583a, #ffa58f);
  background-image: -ms-linear-gradient(left, #ffa58f, #d8583a, #ffa58f);
  background-image: -o-linear-gradient(left, #ffa58f, #d8583a, #ffa58f);
}

.button {display: inline-block; width: 87px; height: 87px; border: none; background: #eda949; color: #fff; font-family: 'Oswald', 'Arial', 'Helvetica', 'sans-serif'; font-size: 18px; font-weight: 700; text-align: center; text-transform: uppercase; -webkit-transition: all 0.25s ease; transition: all 0.25s ease}
.button.big {width: auto; height: auto; padding: 38px 20px; font-size: 24px}
.button.big:before {position: relative; top: 15px; left: -12px; font-size: 30px; line-height: 0}
.button.secondary {background: #d8583a}

a:hover{
   text-decoration: none;
   color: #ffc470;
}

.text{
   font-size: 40px;
   color: #ff7400;
   font-family: 'Oswald';
}

span.stext{
   font-size: 50px;
   color: #912006;
   font-family: 'Quantico'
}

span{
   font-size: 15px;
}

@media (max-width: 1199px) {
   .text{
      text-align: center;
   }
}

@media (min-width: 768px) and (max-width: 991px) {
   .text{
      text-align: center;
   }
}
